<h2>{{'menuContact' | translate}}</h2>
<p>{{'ContactDescription' | translate}}
</p>

<mat-card>
    <form [formGroup]="userForm">
        <mat-form-field>
            <mat-label>{{'ContactLabel1' | translate}}</mat-label>
            <mat-select matNativeControl required formControlName="subject">
                <mat-option value="I have a great idea">{{'ContactOption1' | translate}}</mat-option>
                <mat-option value="I would like to join the team">{{'ContactOption2' | translate}}</mat-option>
                <mat-option value="I have a question">{{'ContactOption3' | translate}}</mat-option>
                <mat-option value="I have found a bug/error in one of the games">{{'ContactOption4' | translate}}
                </mat-option>
                <mat-option value="Other question/request">{{'ContactOption5' | translate}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="{{'ContactLabel2' | translate}}" formControlName="content"></textarea>
        </mat-form-field>
        <button mat-raised-button color='accent'><a
                href="{{GetEmailString()}}">{{'CreateEmail' | translate}}</a></button>
    </form>
</mat-card>