<mat-accordion id="mobileMenuContainer" fxLayout="column" fxLayoutAlign="center" *ngIf="open" fxFill>
    <ng-container *ngFor="let menuItem of modulesList">

        <mat-expansion-panel [hideToggle]="menuItem.children <= 0 || !menuItem.children">
            <mat-expansion-panel-header (click)="closeMenu(menuItem.children, menuItem.routerLink)">
                <mat-panel-title>
                    {{menuItem.label | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container *ngFor="let child of menuItem.children">
                <button *ngIf="child.children <=0 || !child.children" mat-button [disableRipple]="true"
                    (click)="closeMenu(child.children, menuItem.routerLink)">{{child.label | translate}}</button>
            </ng-container>

        </mat-expansion-panel>

    </ng-container>
</mat-accordion>