<h2>Ice Runners</h2>
<p> Ice Runners is our very first real video game. It is an 2D sidescroller set on an icy world. You need to rescue your
    family from the evil sorcerer and his minions.

    <br> The game will include the following:

    <mat-list>
        <mat-list-item> Singleplayer campaign </mat-list-item>
        <mat-list-item> Multiplayer campaign </mat-list-item>
        <mat-list-item> Hand crafted maps </mat-list-item>
        <mat-list-item> Scores to compare yourself to your friends </mat-list-item>
        <mat-list-item> Achievements </mat-list-item>
        <mat-list-item> Beautiful graphics and audio </mat-list-item>
        <mat-list-item> Releases on IOS, Android and PC </mat-list-item>
    </mat-list>

    <br>
    If you think there is anything mission from this list but you'd like to see pleas let us know.

    <br> Make sure to visit our issue tracker if you found bugs. Or send us an e-mail at the <a
        routerLink="/contact">contact</a> page.
</p>