<h1>{{'Team' | translate}}</h1>
{{'TeamIntro' | translate}} <a routerLink="/contact">{{'Contact' | translate}}</a> {{'Page' | translate}}.
<h2>{{'Programmers' | translate}}</h2>
<h3>Remco</h3>
<p>{{'AboutRemco' | translate }} <a href="https://www.remcovogelzang.nl"
        target="_blank">{{'PersonalWebsite' | translate}}</a>.</p>
<h3>Jeroen</h3>
<p> {{'AboutJeroen' | translate}} <a href="https://www.jeroenthomas.nl"
        target="_blank">{{'PersonalWebsite' | translate}}</a>.</p>

<h2>{{'Artists' | translate}}</h2>

<p> {{'NoArtists' | translate}} <a routerLink="/contact">{{'Contact' | translate}}</a> {{'Page' | translate}}. </p>