<h1>The team</h1>
We met eachother at Utrecht University. In 2019, we decided to started to start an indie game company. 
This game company is called Red Jellyfish games. We are excited to bring you new and fun games for both mobile and pc. 
<br>If you wish to join us see the <a routerLink= "/contact">contact</a> page.
<h2>Programmers</h2>
<h3>Remco</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis
    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    For more information, visit my own <a href="https://www.remcovogelzang.nl" target="_blank">personal website</a>.</p>
<h3>Jeroen</h3>
<p> I have alwasy been really interested in computers and electronics in a general sense. Even when i was younger i used to play with systems or try and find out how they worked.
    <br> Once I signed up for the University of Utrecht, I really got into coding and all that it entails. I now have a bachelors in Gametech and plan on doing a masters in security. 
    For more information, visit my own <a href="https://www.jeroenthomas.nl" target="_blank">personal website</a>.</p>

<h2>Artists</h2>

<p> We currently do not have artists but if you are interested feel free to send us a message at the <a routerLink= "/contact">contact</a> page. </p>