<div fxLayout="row wrap" fxFlex="100">
    <div fxFlex="60" fxFlex.lt-md="100">
        <h2>Ice Runners</h2>
        <p> {{'IntroIceRunners' | translate}}</p>

        <mat-list>
            <mat-list-item>
                <mat-icon matListIcon>check_circle_outline</mat-icon>
                {{'SinglePlayerCampaign' | translate}}
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>check_circle_outline</mat-icon>
                {{'MultiplayerCampaign' | translate}}
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>check_circle_outline</mat-icon>
                {{'HandCraftedMaps' | translate}}
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>check_circle_outline</mat-icon>
                {{'Scores' | translate}}
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>check_circle_outline</mat-icon>
                {{'Achievements' | translate}}
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>check_circle_outline</mat-icon>
                {{'BeautifulGraphics' | translate}}
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>check_circle_outline</mat-icon>
                {{'Release' | translate}}
            </mat-list-item>
        </mat-list>

        <p> {{'IssueTrackerEmail' | translate}} <a routerLink="/contact">{{'contact' | translate}}</a>
            {{'Page' | translate}}.
        </p>
    </div>
    <span fxFlex></span>
    <div fxFlex fxFlex.lt-md="100">
        <app-carousel></app-carousel>
    </div>
</div>