button {
    text-transform: uppercase;
    text-decoration: none;
    color: white; 
    font-weight: 800;
    margin: 0 20px;
    font-style: normal;
    font-size: 30px;
}

a {
    color: black;
    font-style: normal;
    font-weight: normal;
}