<div id="mobileMenuContainer" *ngIf="menuOpen" fxLayout="column" fxLayoutAlign="center" fxFill>
  <button mat-icon-button color="primary" aria-label="Sluiten" (click)="openMenuOverlay(false)" fxFlex="40px">
    <mat-icon>close</mat-icon>
  </button>
  <span fxFlex></span>
  <a [routerLink]="['/news/']" (click)="openMenuOverlay(false)">News</a>
  <mat-divider></mat-divider>
  <a [routerLink]="['/games/']" (click)="openMenuOverlay(false)">Games</a>
  <mat-divider></mat-divider>
  <a [routerLink]="['/about/']" (click)="openMenuOverlay(false)">About</a>
  <mat-divider></mat-divider>
  <a [routerLink]="['/contact/']" (click)="openMenuOverlay(false)">Contact</a>
  <span fxFlex></span>
</div>
<div id="mainContainer" fxLayout="column" *ngIf="!menuOpen">
  <mat-toolbar fxFlex="56px" *ngIf="!mobileDevice">
    <span fxFlex></span>
    <a [routerLink]="['/news/']">News</a>
    <a [routerLink]="['/games/']">Games</a>
    <a [routerLink]="['/about/']">About</a>
    <a [routerLink]="['/contact/']">Contact</a>
  </mat-toolbar>
  <mat-toolbar id="menuButton" *ngIf="mobileDevice" fxFlex="56px">
    <button mat-icon-button aria-label="Example icon-button with a heart icon" (click)="openMenuOverlay(true)">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex></span>
    <a [routerLink]="['/news/']">Semicolon Games</a>
  </mat-toolbar>
  <div id="contentContainer" fxFlex>
    <router-outlet></router-outlet>
    <button mat-mini-fab color="primary" aria-label="Back to top" *ngIf="showScrollToTopButton" (click)="scrollToTop()"
      id="scrollToTopButton">
      <mat-icon>arrow_drop_up</mat-icon>
    </button>
  </div>
  <footer fxFlex="25px" fxLayoutAlign="center center">
    Copyright &copy; Semicolon Games 2019 - {{getYear()}}
  </footer>
</div>