<app-mobile-menu></app-mobile-menu>
<div id="mainContainer" fxLayout="column" *ngIf="!mobileMenuOpen">
  <mat-toolbar fxFlex="56px" *ngIf="!mobileDevice">
    <a [routerLink]="['/news/']">{{'companyName' | translate}}</a>
    <span fxFlex></span>
    <app-menu></app-menu>
  </mat-toolbar>

  <mat-toolbar id="menuButton" *ngIf="mobileDevice" fxFlex="56px">
    <button mat-icon-button (click)="openMobileMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <span fxFlex></span>
    <a [routerLink]="['/news/']">{{'companyName' | translate}}</a>
  </mat-toolbar>
  <div id="contentContainer" fxFlex>
    <router-outlet></router-outlet>
    <button mat-mini-fab color="primary" aria-label="Back to top" *ngIf="showScrollToTopButton" (click)="scrollToTop()"
      id="scrollToTopButton">
      <mat-icon>arrow_drop_up</mat-icon>
    </button>
  </div>
  <footer fxLayoutAlign="column center">
    <span fxFlex></span>
    Copyright &copy; {{'companyName' | translate}} 2019 - {{getYear()}}
    <span fxFlex></span>
    <app-select-language></app-select-language>
  </footer>
</div>